.box-layout {
    align-items: center;
    background: url('/images/bg.jpg');
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.box-layout__box {
    background: fade-out($color: white, $amount: 0.15);
    border-radius: 3px;
    padding: $l-size $m-size;
    text-align: center;
    width: 25rem;
}

.box-layout__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
}

.box-layout_expensesgroup {
    background: url('/images/bg_expenseGroup.png');
    background-size: cover;
    opacity: 0.9;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
}

.box-layout_expenses {
    background: url('/images/bg_expense.png');
    background-size: cover;
    opacity: 0.9;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
}

.box-layout_expensepage {
    background: url('/images/bg_expenseForm.png');
    background-size: cover;
    opacity: 0.9;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
}

.box_layout_expensepageheader {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}